<div class="ads__container">
    <h3 class="ads__title">SUPPORT OUR SPONSORS</h3>
    <div id="carousel" class="bslides owl-carousel owl-theme">
        <img src="{{asset("img/bottom-ads/kroger-logo.jpeg") }}" alt="Kroger Logo" class="bslides__image">
        <img src="{{asset("img/bottom-ads/nikefactorystore-logo.jpg") }}" alt="Nike Factory Logo" class="bslides__image">
        <img src="{{asset("img/bottom-ads/kroger-logo.jpeg") }}" alt="Kroger Logo" class="bslides__image">
        <img src="{{asset("img/bottom-ads/nikefactorystore-logo.jpg") }}"  alt="Nike Factory Logo" class="bslides__image">
        <img src="{{asset("img/bottom-ads/pep-boys-logo.gif") }}"  alt="Pep Boys Logo" class="bslides__image">
        <img src="{{asset("img/bottom-ads/public-storage-logo.jpg") }}" alt="Public Storage Logo" class="bslides__image bslides--mtop">
        <img src="{{asset("img/bottom-ads/pep-boys-logo.gif") }}" alt="Pep Boys Logo" class="bslides__image">
        {#<ul class="bslides__list">
            <li>
                <img src="{{asset("img/bottom-ads/kroger-logo.jpeg") }}">
            </li>
            <li>
                <img src="{{asset("img/bottom-ads/nikefactorystore-logo.jpg") }}">
            </li>
            <li>
                <img src="{{asset("img/bottom-ads/pep-boys-logo.gif") }}">
            </li>
            <li>
                <img src="{{asset("img/bottom-ads/public-storage-logo.jpg") }}">
            </li>
        </ul>#}
    </div>
</div>