{#<div class="ads__container">#}
{#<h3 class="ads__title">Support Our Sponsors</h3>#}
    {#<div id="rtads" >#}
        <ul class="rslides rslides1">
            <li class="rtads__slide">
                <img src="{{ asset("img/right-rail-ads/kroger_sample.png") }}" class="right-rail__item">
            </li>
            <li class="rtads__slide">
                <img src="{{ asset("img/right-rail-ads/become-sponsor.png") }}" class="right-rail__item">
                <span class="jswipe__moreinfo">For More Info: <a href="mailto:coachtolbert0299@gmail.com?subject=Sponsorship Ads Space">Click Here</a></span>
            </li>
            <li class="rtads__slide">
                <img src="{{ asset("img/right-rail-ads/kroger_sample.png") }}" class="right-rail__item">
            </li>
            <li class="rtads__slide">
                <img src="{{ asset("img/right-rail-ads/become-sponsor.png") }}" class="right-rail__item">
                <span class="jswipe__moreinfo">For More Info: <a href="#">Click Here</a></span>
            </li>
            <li class="rtads__slide">
                <img src="{{ asset("img/right-rail-ads/kroger_sample.png") }}" class="right-rail__item">
            </li>
        </ul>

   {# </div>#}
{#
</div>#}
